# Ignore all files inside these subfolders
Motion Classification/1_unlabeled_datasets/2022_03_17/*
Motion Classification/1_unlabeled_datasets/2022_04_25/*
Motion Classification/1_unlabeled_datasets/2022_07_27/*
Motion Classification/1_unlabeled_datasets/2022_08_01/*
Motion Classification/1_unlabeled_datasets/2023_08_23/*
Motion Classification/1_unlabeled_datasets/2023_08_30/*
Motion Classification/1_unlabeled_datasets/2023_09_07/*
Motion Classification/2_labeled_datasets/2022_03_17/*
Motion Classification/2_labeled_datasets/2022_04_25/*
Motion Classification/2_labeled_datasets/2022_07_27/*
Motion Classification/2_labeled_datasets/2022_08_01/*
Motion Classification/3_Standard_SVM/datasets/2022_03_17/*
Motion Classification/3_Standard_SVM/datasets/2022_04_25/*
Motion Classification/3_Standard_SVM/datasets/2022_07_27/*
Motion Classification/3_Standard_SVM/datasets/2022_08_01/*
Motion Classification/3_Standard_SVM/datasets/2023_08_23/*
Motion Classification/3_Standard_SVM/datasets/2023_08_30/*
Motion Classification/3_Standard_SVM/datasets/2023_09_07/*
Motion Classification/4_Time_Series_SVM/HD_datasets/2022_03_17/*
Motion Classification/4_Time_Series_SVM/HD_datasets/2022_04_25/*
Motion Classification/4_Time_Series_SVM/HD_datasets/2022_07_27/*
Motion Classification/4_Time_Series_SVM/HD_datasets/2022_08_01/*
Motion Classification/4_Time_Series_SVM/HD_datasets/2023_08_23/*
Motion Classification/4_Time_Series_SVM/HD_datasets/2023_08_30/*
Motion Classification/4_Time_Series_SVM/HD_datasets/2023_09_07/*
Navigation Solutions/dataset/2022_03_17/*
Navigation Solutions/dataset/2022_04_25/*
Navigation Solutions/dataset/2022_07_27/*
Navigation Solutions/dataset/2022_08_01/*
Navigation Solutions/dataset/2023_08_23/*
Navigation Solutions/dataset/2023_08_30/*
Navigation Solutions/dataset/2023_09_07/*
Navigation Solutions/dataset/training_data/*
Navigation Solutions/dataset/ground_truth_vs_prediction/*

# Allow the subfolders themselves
!Motion Classification/1_unlabeled_datasets/2022_03_17/
!Motion Classification/1_unlabeled_datasets/2022_04_25/
!Motion Classification/1_unlabeled_datasets/2022_07_27/
!Motion Classification/1_unlabeled_datasets/2022_08_01/
!Motion Classification/1_unlabeled_datasets/2023_08_23/
!Motion Classification/1_unlabeled_datasets/2023_08_30/
!Motion Classification/1_unlabeled_datasets/2023_09_07/
!Motion Classification/2_labeled_datasets/2022_03_17/
!Motion Classification/2_labeled_datasets/2022_04_25/
!Motion Classification/2_labeled_datasets/2022_07_27/
!Motion Classification/2_labeled_datasets/2022_08_01/
!Motion Classification/3_Standard_SVM/datasets/2022_03_17/
!Motion Classification/3_Standard_SVM/datasets/2022_04_25/
!Motion Classification/3_Standard_SVM/datasets/2022_07_27/
!Motion Classification/3_Standard_SVM/datasets/2022_08_01/
!Motion Classification/3_Standard_SVM/datasets/2023_08_23/
!Motion Classification/3_Standard_SVM/datasets/2023_08_30/
!Motion Classification/3_Standard_SVM/datasets/2023_09_07/
!Motion Classification/4_Time_Series_SVM/HD_datasets/2022_03_17/
!Motion Classification/4_Time_Series_SVM/HD_datasets/2022_04_25/
!Motion Classification/4_Time_Series_SVM/HD_datasets/2022_07_27/
!Motion Classification/4_Time_Series_SVM/HD_datasets/2022_08_01/
!Motion Classification/4_Time_Series_SVM/HD_datasets/2023_08_23/
!Motion Classification/4_Time_Series_SVM/HD_datasets/2023_08_30/
!Motion Classification/4_Time_Series_SVM/HD_datasets/2023_09_07/
!Navigation Solutions/dataset/2022_03_17/
!Navigation Solutions/dataset/2022_04_25/
!Navigation Solutions/dataset/2022_07_27/
!Navigation Solutions/dataset/2022_08_01/
!Navigation Solutions/dataset/2023_08_23/
!Navigation Solutions/dataset/2023_08_30/
!Navigation Solutions/dataset/2023_09_07/
!Navigation Solutions/dataset/training_data/
!Navigation Solutions/dataset/ground_truth_vs_prediction/